
.col_4 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }
.main{
    border: 3px solid black;
}

  .Products_images img{
    object-fit: cover;

    width: 100%;
    height: 100%;
  }


.inner_name {
    padding-left: 15px;

}

