.totalbody {
 background: #06AED5;
}
.head {
  text-align: center;
  margin: 15px 0 15px 0;
  color:#FFF1D0;
}

.col_4 {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}
.main {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 1s ease-in-out;
  background-color: white;
}
.main:hover {
  transform: scale(1.05);
}

.title {
  margin-top: 0px;
  font-weight: bold;
}

.Products_images {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_img {
  height: auto;
  max-height: 250px;
  max-width: 250px;
  width: auto;
  object-fit: cover;
}
hr{
    margin: 0 !important;
}

.inner_name {
  padding-left: 15px;
  background-color: #F0C808;
  margin: 0;
}
